<div class="mx-auto px-4 py-24 lg:container sm:px-8">
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-5">
    <div class="md:col-span-2 xl:col-span-5">
      <div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
          <div class="flex justify-between items-center w-full">
            <h4 class="mb-4 text-xl font-semibold uppercase">Listado de Propiedades</h4>
            <a routerLink="/dashboard/property-form" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              Agregar
            </a>
          </div>
          <div class="relative overflow-x-auto">
            <table class="mb-8 w-full table-auto divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-4 text-center text-xs font-medium uppercase tracking-wider text-gray-500">
                    Numero de Propiedad
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-4 text-center text-xs font-medium uppercase tracking-wider text-gray-500">
                    Área (m²)
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-4 text-center text-xs font-medium uppercase tracking-wider text-gray-500">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                @for(property of properties; track property.id) {
                  <tr>
                    <td class="whitespace-nowrap px-6 py-4 text-center">{{ property.number }}</td>
                    <td class="whitespace-nowrap px-6 py-4 text-center">{{ property.area }}</td>

                    <td class="flex whitespace-nowrap px-6 py-4 text-center justify-center">
                      <svg-icon src="assets/icons/outline/pencil-square.svg" [svgClass]="'h-5 w-5'" class="mx-2 cursor-pointer" (click)="updateProperty(property)"></svg-icon>
                      <svg-icon src="assets/icons/outline/trash.svg" [svgClass]="'h-5 w-5'" class="mx-2 cursor-pointer" (click)="deleteProperty(property.id)"></svg-icon>
                    </td>
                  </tr>
                  }
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
