<div class="container mx-auto px-4 py-24">

  <form [formGroup]="propertyTypeForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <a
    class="mb-6 flex w-min items-center justify-center rounded-md bg-blue-500 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white hover:bg-primary-600 shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-primary-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-lg cursor-pointer"
    routerLink="/dashboard/property-types">
    <svg-icon src="assets/icons/outline/chevron-left.svg" [svgClass]="'h-5 w-5'"></svg-icon>
    Regresar
  </a>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
      Descripción
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="description" type="text" placeholder="Descripción" formControlName="description">
    <div class="mb-4" *ngIf="propertyTypeForm.get('description')?.invalid && propertyTypeForm.get('description')?.touched">
      <div class="text-red-500 text-xs italic">La descripción es obligatoria.</div>
    </div>
  </div>

  @if(!propertyType) {
    <div class="flex justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:cursor-not-allowed disabled:opacity-75" type="submit" [disabled]="propertyTypeForm.invalid || loading">
        Guardar
      </button>
    </div>
  } @else if(propertyType) {
    <div class="flex justify-center">
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:cursor-not-allowed disabled:opacity-75"
        [disabled]="propertyTypeForm.invalid || loading"
        (click)="updatePropertyType(propertyType)">
        Guardar @if(loading) {
        <i class="fa fa-spinner fa-pulse ml-2 mt-1"></i>
        }
      </button>
    </div>
  }
  </form>
</div>